<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>进销存管理系统——首页</title>
    <!-- 引入重置样式 -->
    <link rel="stylesheet" href="./styles/reset.css">
    <!-- 引入ElementUI -->
    <link rel="stylesheet" href="./styles/elementUI.css">
    <!-- 引入自定义css -->
    <link rel="stylesheet" href="./styles/index.css">
</head>

<body>
<div id="app">
    <el-container>
        <!-- 左侧导航栏 -->
        <el-aside width="230px">
            <!-- 头部标题 -->
            <div id="navTitle">
                <h2>进销存管理系统</h2>
                <p>您好，<span>{{ user.userName }}</span></p>
                <p><a href="main.html" target="iframeContent">管理首页</a> |
                    <button @click="logout()">退出系统</button>
                </p>
            </div>
            <!-- 导航栏 -->
            <el-menu default-active="2" class="el-menu-vertical-demo" @open="handleOpen"
                     @close="handleClose"
                     unique-opened="true">
                <el-submenu v-if="menu1" index="1">
                    <template slot="title">
                        <span>分类管理</span>
                    </template>
                    <el-menu-item-group>
                        <el-menu-item index="1-1"><a href="sort_list.html" target="iframeContent">分类管理</a>
                        </el-menu-item>
                        <el-menu-item index="1-2"><a href="sort_add.html" target="iframeContent">添加分类</a></el-menu-item>
                    </el-menu-item-group>
                </el-submenu>
                <el-submenu v-if="menu2" index="2">
                    <template slot="title">
                        <span>商品管理</span>
                    </template>
                    <el-menu-item-group>
                        <el-menu-item index="2-1"><a href="product_list.html" target="iframeContent">商品管理</a>
                        </el-menu-item>
                        <el-menu-item index="2-2"><a href="product_add.html" target="iframeContent">添加商品</a>
                        </el-menu-item>
                    </el-menu-item-group>
                </el-submenu>
                <el-submenu v-if="menu3" index="3">
                    <template slot="title">
                        <span>进货管理</span>
                    </template>
                    <el-menu-item-group>
                        <el-menu-item index="3-1"><a href="stock_list.html" target="iframeContent">库存管理</a>
                        </el-menu-item>
                        <el-menu-item index="3-2"><a href="stock_add.html" target="iframeContent">添加库存</a>
                        </el-menu-item>
                    </el-menu-item-group>
                </el-submenu>
                <el-submenu v-if="menu4" index="4">
                    <template slot="title">
                        <span>出货管理</span>
                    </template>
                    <el-menu-item-group>
                        <el-menu-item index="4-1"><a href="shipment_list.html" target='iframeContent'>销售列表</a>
                        </el-menu-item>
                        <el-menu-item index="4-2"><a href="shipment_sell.html" target='iframeContent'>商品出库</a>
                        </el-menu-item>
                        <el-menu-item index="4-3"><a href="shipment_refund.html" target='iframeContent'>商品退货</a>
                        </el-menu-item>
                    </el-menu-item-group>
                </el-submenu>

                <el-submenu v-if="menu5" index="5">
                    <template slot="title">
                        <span>仓库管理</span>
                    </template>
                    <el-menu-item-group>
                        <el-menu-item index="5-1"><a href="depot_list.html" target="iframeContent">仓库管理</a>
                        </el-menu-item>
                        <el-menu-item index="5-2"><a href="depot_add.html" target="iframeContent">添加仓库</a>
                        </el-menu-item>
                    </el-menu-item-group>
                </el-submenu>


                <el-submenu v-if="menu6" index="6">
                    <template slot="title">
                        <span>统计管理</span>
                    </template>
                    <el-menu-item-group>
                        <el-menu-item index="6-1">销售统计</el-menu-item>
                        <el-menu-item index="6-2">进货统计</el-menu-item>
                    </el-menu-item-group>
                </el-submenu>
                <el-submenu v-if="menu7" index="7">
                    <template slot="title">
                        <span>账号管理</span>
                    </template>
                    <el-menu-item-group>
                        <el-menu-item index="7-1"><a href="member_list.html" target="iframeContent">账号管理</a>
                        </el-menu-item>
                        <el-menu-item index="7-2"><a href="member_add.html" target="iframeContent">添加账号</a>
                        </el-menu-item>
                        <el-menu-item index="7-3"><a href="member_editPwd.html" target="iframeContent">密码修改</a>
                        </el-menu-item>
                    </el-menu-item-group>
                </el-submenu>
                <el-submenu v-if="menu8" index="8">
                    <template slot="title">
                        <span>系统管理</span>
                    </template>
                    <el-menu-item-group>
                        <el-menu-item index="8-1"><a href="main.html" target="iframeContent">系统信息</a></el-menu-item>
                        <el-menu-item index="8-2">系统配置</el-menu-item>
                        <el-menu-item index="8-3">权限管理</el-menu-item>
                        <el-menu-item index="8-4">添加管理组</el-menu-item>
                    </el-menu-item-group>
                </el-submenu>
            </el-menu>
        </el-aside>
        <!-- 右侧内容部分 -->
        <el-container>
            <!-- 内容头部 -->
            <el-header height='100px'>
                <h2>欢迎您 <span>{{ user.userName }}</span></h2>
                <p>查看详细的系统信息</p>
            </el-header>
            <!-- 详细内容 -->
            <iframe :src="src" frameborder="0" scrolling="auto" width="100%" height="100%"
                    name="iframeContent"></iframe>
            <!-- 内容尾部 -->
            <el-footer height='51px'>
                <p>&copy;2018 进销存管理系统</p>
            </el-footer>
        </el-container>
    </el-container>
</div>
</body>
<!-- 引入jQuery -->
<script src="./javascripts/jquery.min.js"></script>
<!-- 引入Vue -->
<script src="./javascripts/vue.min.js"></script>
<!-- 引入ElementUI -->
<script src="./javascripts/elementUI.js"></script>
<script>
    //实例化Vue

    new Vue({
        el: '#app',
        data: {
            tableData: [{
                date: '2016-05-02',
                name: '王小虎',
                address: '上海市普陀区金沙江路 1518 弄'
            }, {
                date: '2016-05-04',
                name: '王小虎',
                address: '上海市普陀区金沙江路 1517 弄'
            }, {
                date: '2016-05-01',
                name: '王小虎',
                address: '上海市普陀区金沙江路 1519 弄'
            }],
            src: 'main.html',
            isActive: false,
            user: null,
            menu1: true,
            menu2: true,
            menu3: true,
            menu4: true,
            menu5: true,
            menu6: true,
            menu7: false,
            menu8: false,
        },
        mounted: function () {
            this.user = this.getUser();
            this.init();
            this.changeMenu();
        },
        methods: {
            handleOpen(key, keyPath) {
                console.log(key, keyPath);
            },
            handleClose(key, keyPath) {
                console.log(key, keyPath);
            },
            init() {
                if (this.user == null) {
                    alert("请重新登录");
                    location.href = "/"
                }
            },
            getUser() {
                return getCookie("USER") === "" ? null : JSON.parse(getCookie("USER"))
            },
            logout() {
                if (confirm('确认退出登录？')) {
                    document.cookie = "USER=";
                    location.href = "/"
                } else {

                }
            },
            changeMenu() {
                if (this.user != null) {
                    console.log("user role id = " + this.user.roleId)
                    switch (this.user.roleId) {
                        case 1:
                            this.menu1 = true;
                            this.menu2 = true;
                            this.menu3 = true;
                            this.menu4 = true;
                            this.menu5 = true;
                            this.menu6 = true;
                            this.menu7 = true;
                            this.menu8 = true;
                            break;
                        case 2:
                            this.menu1 = true;
                            this.menu2 = true;
                            this.menu3 = true;
                            this.menu4 = true;
                            this.menu5 = true;
                            this.menu6 = true;
                            this.menu7 = true;
                            this.menu8 = false;
                            break;
                        case 3:
                            this.menu1 = true;
                            this.menu2 = true;
                            this.menu3 = true;
                            this.menu4 = true;
                            this.menu5 = true;
                            this.menu6 = false;
                            this.menu7 = false;
                            this.menu8 = false;
                            break;
                    }
                }

            },
        },
        filters: {
            /*getUserName() {
                return JSON.parse(getCookie("USER")).userName
            }*/
        }

    });

    function getCookie(cname) {
        var ss = document.cookie;
        var name = cname + "=";
        var ca = document.cookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i].trim();
            if (c.indexOf(name) == 0)
                return c.substring(name.length, c.length);
        }
        return "";
    }

</script>

</html>