<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>进销存管理系统——修改管理员账号</title>
    <!-- 引入reset样式 -->
    <link rel="stylesheet" href="./styles/reset.css">
    <!-- 引入elementUi样式 -->
    <link rel="stylesheet" href="./styles/elementUI.css">
    <!-- 引入index.css -->
    <link rel="stylesheet" href="./styles/index.css">
    <!-- 引入围墙 -->
    <script src="/users/checkState"></script>
</head>

<body>
<div id="app">
    <!-- 详细内容 -->
    <el-main>
        <!-- 大卡片 -->
        <el-card class="box-card">
            <!-- 大卡片标题 -->
            <div slot="header" class="clearfix">
                <span>修改管理员账号</span>
            </div>
            <!-- 大卡片内容 -->
            <div class="text item">
                <el-form label-position="top" :model="ruleForm2" status-icon :rules="rules2" ref="ruleForm2"
                         label-width="100px" class="demo-ruleForm">
                    <el-form-item label="用户名：" prop="username">
                        <el-input v-model="ruleForm2.username" :disabled="true"></el-input>
                    </el-form-item>
                    <el-form-item label="身份证：" prop="idCard">
                        <el-input type="number" v-model="ruleForm2.idCard" autocomplete="off"
                                  :disabled="true"></el-input>
                    </el-form-item>
                    <el-form-item label="性别：" prop="sex">
                        <el-radio-group v-model="ruleForm2.sex">
                            <el-radio :label="1">男</el-radio>
                            <el-radio :label="2">女</el-radio>
                        </el-radio-group>
                    </el-form-item>
                    <el-form-item label="电话：" prop="phone">
                        <el-input type="number" v-model="ruleForm2.phone" autocomplete="off"></el-input>
                    </el-form-item>
                    <el-form-item label="邮箱：" prop="email">
                        <el-input type="email" v-model="ruleForm2.email" autocomplete="off"></el-input>
                    </el-form-item>
                    <el-form-item label="住址：" prop="address">
                        <el-input v-model="ruleForm2.address" autocomplete="off"></el-input>
                    </el-form-item>
                    <el-form-item label="选择用户组：" prop="group">
                        <el-select v-model="ruleForm2.roleName" placeholder="请选择">
                            <el-option v-for="role in roles" v-bind:value="role.roleName">{{role.roleName}}
                            </el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click="submitForm('ruleForm2')">修改</el-button>
                    </el-form-item>
                </el-form>
            </div>
        </el-card>
    </el-main>
</div>
</body>
<!-- 引入jQuery.js -->
<script src="./javascripts/jquery.min.js"></script>
<!-- 引入Vue.js -->
<script src="./javascripts/vue.min.js"></script>
<!-- 引入elementUI.js -->
<script src="./javascripts/elementUI.js"></script>
<script>
    //实例化Vue对象
    new Vue({
        el: '#app',
        data() {
            return {
                roles: [],
                ruleForm2: {
                    username: '',
                    userId: 0,
                    roleName: '',
                    email: '',
                    address: '',
                    phone: '',
                    idCard: '',
                    roleId: 0,
                    sex: 1,
                },
                rules2: {
                    roleName:
                        [
                            {required: true, message: "请选择用户组", trigger: 'blur'}
                        ],
                }
            };
        },
        watch: {
            "ruleForm2.roleName": function (value) {
                for (var i = 0; i < this.roles.length; i++) {
                    var role = this.roles[i];
                    if (value === role.roleName) {
                        this.ruleForm2.roleId = role.roleId;
                    }
                }

            },
        },
        methods: {
            submitForm(formName) {
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        //验证成功时执行将数据回填到数据库
                        $.post('/users/edit', this.ruleForm2, (data) => {
                            //接收后端返回的数据进行处理
                            if (data.isOk) {
                                alert(data.msg);
                                //跳转到账号管理页面
                                location.href = 'member_list.html';
                            } else {
                                alert(data.msg);
                            }
                        })

                    } else {
                        console.log('error submit!!');
                        return false;
                    }
                });
            }
        },
        mounted() {
            //获取地址栏的参数id
            let index = (location.href.indexOf('=') + 1);
            let id = location.href.substr(index);
            //向后端请求数据填入表单
            $.get('/user/' + id, (data) => {
                //将后端发送回来的数据进行处理
                if (data.code === 0) {
                    this.ruleForm2.username = data.data.userName;
                    this.ruleForm2.userId = data.data.userId;
                    this.ruleForm2.roleName = data.data.roleName;
                    this.ruleForm2.roleId = data.data.roleId;
                    this.ruleForm2.address = data.data.address;
                    this.ruleForm2.idCard = data.data.idCard;
                    this.ruleForm2.phone = data.data.phone;
                    this.ruleForm2.sex = data.data.sex;
                }
            });
            $.get('/role', (data) => {
                this.roles = data.data;
                console.log(this.roles)
            });
        }
    })
</script>

</html>