<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>进销存管理系统——销售明细</title>
    <!-- 引入reset样式 -->
    <link rel="stylesheet" href="./styles/reset.css">
    <!-- 引入elementUi样式 -->
    <link rel="stylesheet" href="./styles/elementUI.css">
    <!-- 引入index.css -->
    <link rel="stylesheet" href="./styles/index.css">
</head>

<body>
<div id="app">
    <!-- 详细内容 -->
    <el-main>
        <!-- 大卡片 -->
        <el-card class="box-card">
            <!-- 大卡片标题 -->
            <div slot="header" class="clearfix">
                <span>销售明细</span>
            </div>
            <!-- 大卡片内容 -->
            <div class="text item">
                <!-- 搜索 -->
                <el-form :inline="true" :model="ruleForm2" class="demo-form-inline">
                    <el-form-item label="开始时间：">
                        <el-date-picker v-model="ruleForm2.startTime" type="date" placeholder="选择日期">
                        </el-date-picker>
                    </el-form-item>
                    <el-form-item label="结束时间：">
                        <el-date-picker v-model="ruleForm2.endTime" type="date" placeholder="选择日期">
                        </el-date-picker>
                        （格式：2012-01-01）
                    </el-form-item>
                    <!-- <br/> -->
                    <el-form-item label="关键字：" class="slKeyWord">
                        <el-input v-model="ruleForm2.keyWord" placeholder=""></el-input>
                        订单号，客户名字，客户电话
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click="onSubmit">查询</el-button>
                    </el-form-item>
                </el-form>
                <!-- 数据中心 -->
                <el-table :data="tableData" style="width: 100%" stripe="true">
                    <el-table-column label="订单号" width="180">
                        <template slot-scope="scope">
                            <span style="margin-left: 10px">{{ scope.row.id }}</span>
                        </template>
                    </el-table-column>
                    <el-table-column label="客户姓名" width="180">
                        <template slot-scope="scope">
                            <span style="margin-left: 10px">{{ scope.row.customerName }}</span>
                        </template>
                    </el-table-column>
                    <el-table-column label="联系电话" width="180">
                        <template slot-scope="scope">
                            <span style="margin-left: 10px">{{ scope.row.customerPhone }}</span>
                        </template>
                    </el-table-column>
                    <el-table-column label="总价" width="180">
                        <template slot-scope="scope">
                            <span>{{ scope.row.goodsTotal }}</span>
                        </template>
                    </el-table-column>
                    <el-table-column label="订单状态" width="180">
                        <template slot-scope="scope">
                            <span style="margin-left: 10px">{{ scope.row.orderType }}</span>
                        </template>
                    </el-table-column>
                    <el-table-column label="审核状态" width="180">
                        <template slot-scope="scope">
                            <span style="margin-left: 10px">{{ scope.row.reviewStatus }}</span>
                        </template>
                    </el-table-column>
                    <el-table-column label="销售时间" width="180">
                        <template slot-scope="scope">
                            <span style="margin-left: 10px">{{ scope.row.createAt }}</span>
                        </template>
                    </el-table-column>
                    <el-table-column label="管理" fixed="right" width="180px">
                        <template slot-scope="scope">
                            <el-button size="mini" @click="handleEdit(scope.$index, scope.row)" type="primary"
                                       plain><i class="el-icon-edit"></i>编辑
                            </el-button>
                            <el-button size="mini" @click="handleDelete(scope.$index, scope.row)" type="danger"
                                       plain><i class="el-icon-delete"></i>删除
                            </el-button>
                        </template>
                    </el-table-column>
                </el-table>
                <br>
                <!-- 页码 -->
                <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" background
                               :current-page="ruleForm2.pageNo" :page-sizes="[10, 20,50, 100]"
                               :page-size="ruleForm2.pageSize"
                               layout="total, sizes, prev, pager, next, jumper" :total="total">
                </el-pagination>
            </div>
        </el-card>
    </el-main>
</div>
</body>
<!-- 引入jQuery.js -->
<script src="./javascripts/jquery.min.js"></script>
<!-- 引入Vue.js -->
<script src="./javascripts/vue.min.js"></script>
<!-- 引入elementUI.js -->
<script src="./javascripts/elementUI.js"></script>
<script>

    //实例化Vue对象
    new Vue({
        el: '#app',
        data() {
            return {
                total: 0,
                ruleForm2: {
                    startTime: '',
                    endTime: '',
                    pageSize: 10,
                    pageNo: 1,
                    keyWord: '',
                },
                tableData: [],
            }
        },
        methods: {
            handleEdit(index, row) {
                console.log(index, row);
            },
            handleDelete(index, row) {
                console.log(index, row);
            },
            onSubmit() {
                this.orderList()
            }, handleSizeChange(val) {
                this.ruleForm2.pageSize = val;
                this.getProduct();
            },
            handleCurrentChange(val) {
                this.ruleForm2.pageNo = val;
                this.getProduct();
            },
            orderList() {
                $.post("/order/list", this.ruleForm2, (data) => {
                    if (data.code === 0) {
                        this.tableData = data.data;
                        this.total = data.total
                    } else {
                        alert(data.msg)
                    }
                });
            }
        },
        mounted() {
            this.orderList()
        }

    })
</script>

</html>