<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>进销存管理系统——商品销售</title>
    <!-- 引入reset样式 -->
    <link rel="stylesheet" href="./styles/reset.css">
    <!-- 引入elementUi样式 -->
    <link rel="stylesheet" href="./styles/elementUI.css">
    <!-- 引入index.css -->
    <link rel="stylesheet" href="./styles/index.css">
</head>

<body>
<div id="app">
    <!-- 详细内容 -->
    <el-main>
        <!-- 大卡片 -->
        <el-card class="box-card">
            <!-- 大卡片标题 -->
            <div slot="header" class="clearfix">
                <span>商品销售</span>
            </div>
            <!-- 大卡片内容 -->
            <div class="text item">
                <!-- 搜索 -->
                <el-form label-position='top' :model="ruleForm2" status-icon :rules="rules2" ref="ruleForm2"
                         label-width="100px" class="demo-ruleForm">
                    <div>
                        <el-form-item label="客户姓名：" prop="customerName">
                            <el-input type="text" v-model="ruleForm2.customerName" autocomplete="off"></el-input>
                        </el-form-item>
                        <el-form-item label="客户电话：" prop="customerPhone">
                            <el-input type="text" v-model.number="ruleForm2.customerPhone"
                                      autocomplete="off"></el-input>
                        </el-form-item>
                    </div>
                    <el-form-item label="商品条形码:" prop="barCode">
                        <el-input type="text" v-model="ruleForm2.barCode" autocomplete="off"></el-input>
                    </el-form-item>
                    <el-form-item label="数量" prop="sellNum">
                        <el-input type="text" v-model.number="ruleForm2.sellNum" autocomplete="off"></el-input>
                    </el-form-item>
                    <el-button type="primary" @click="addProduct()">加入订单</el-button>
                    <!--<el-button @click="resetForm('ruleForm2')">重新出库</el-button>-->
                    </el-form-item>
                    <!-- 数据中心 -->
                    <el-table :data="tableData" style="width: 100%" stripe="true">
                        <el-table-column label="名称" width="180">
                            <template slot-scope="scope">
                                <span style="margin-left: 10px">{{ scope.row.goodsName }}</span>
                            </template>
                        </el-table-column>
                        <el-table-column label="数量" width="180">
                            <template slot-scope="scope">
                                <span style="margin-left: 10px">{{ scope.row.num }}</span>
                            </template>
                        </el-table-column>
                        <el-table-column label="单价（元）" width="180">
                            <template slot-scope="scope">
                                <span style="margin-left: 10px">{{ scope.row.price/100 }}</span>
                            </template>
                        </el-table-column>
                        <el-table-column label="总价（元）" width="180">
                            <template slot-scope="scope">
                                <span style="margin-left: 10px">{{ scope.row.totalFee /100}}</span>
                            </template>
                        </el-table-column>
                        <el-table-column label="    单位" width="180">
                            <template slot-scope="scope">
                                <span>{{ scope.row.goodsUnit }}</span>
                            </template>
                        </el-table-column>
                        <el-table-column label="管理" fixed="right" width="180px">
                            <template slot-scope="scope">
                                <!--<el-button size="mini" @click="handleEdit(scope.$index, scope.row)" type="primary"-->
                                <!--plain><i class="el-icon-edit"></i>编辑-->
                                <!--</el-button>-->
                                <el-button size="mini" @click="handleDelete(scope.$index, scope.row)" type="danger"
                                           plain><i class="el-icon-delete"></i>删除
                                </el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                    <br>
                    <!-- 页码 -->
                    <!--  <el-pagination background layout="prev, pager, next" :total="40" prev-text='上一页' next-text='下一页'>
                      </el-pagination>-->

                    <el-form-item style="margin-bottom: 20px">
                        <el-button type="primary" @click="submitForm()">确认提交</el-button>
                        <el-button @click="resetForm('ruleForm2')">重置</el-button>
                    </el-form-item>
                </el-form>
            </div>
        </el-card>
    </el-main>
</div>
</body>
<!-- 引入jQuery.js -->
<script src="./javascripts/jquery.min.js"></script>
<!-- 引入Vue.js -->
<script src="./javascripts/vue.min.js"></script>
<!-- 引入elementUI.js -->
<script src="./javascripts/elementUI.js"></script>
<script>
    //实例化Vue对象
    new Vue({
        el: '#app',
        data() {
            return {
                ruleForm2: {
                    barCode: '15514215334116',
                    sellNum: '1',
                    customerName: '张三',
                    customerPhone: '18519121233',
                },
                orderParam: {
                    goodsTotal: 0,
                    customerName: '',
                    customerPhone: '',
                    items: null
                },
                rules2: {
                    customerName: [
                        {required: true, message: '请输入客户姓名', trigger: 'blur'}
                    ],
                    customerPhone: [
                        {required: true, message: '请输入客户电话', trigger: 'blur'}
                    ],
                    barCode: [
                        {required: true, message: '请输入商品条形码', trigger: 'blur'}
                    ],
                    sellNum: [
                        {required: true, message: '请输入销售数量', trigger: 'blur'}
                    ]
                },
                tableData: [],
                product: {
                    goodsId: 0,
                    goodsCode: '',
                    goodsName: '',
                    goodsUnit: '',
                    price: 0,
                    goodsImage: '',
                    num: 0,
                    totalFee: 0,
                }

            }
        },
        methods: {
            handleEdit(index, row) {
                console.log(index, row);
            },
            handleDelete(index, row) {
                console.log(index, row);
                this.tableData.splice(index, 1)
            },
            onSubmit() {
                console.log('submit!');
            },
            addProduct() {
                for (var i = 0; i < this.tableData.length; i++) {
                    if (this.ruleForm2.barCode === this.tableData[i].goodsCode) {
                        this.tableData[i].num = parseInt(this.tableData[i].num) + parseInt(this.ruleForm2.sellNum);
                        return;
                    }
                }
                $.get('/order/product/' + this.ruleForm2.barCode, (data) => {
                        if (data.code === 0) {
                            this.product.goodsId = data.data.id;
                            this.product.goodsCode = data.data.code;
                            this.product.goodsName = data.data.name;
                            this.product.goodsUnit = data.data.unit;
                            this.product.price = data.data.salePrice;
                            this.product.goodsImage = data.data.image;
                            this.product.num = this.ruleForm2.sellNum;
                            this.product.totalFee = data.data.salePrice * this.ruleForm2.sellNum;
                            this.tableData.push(this.product);
                        } else {
                            alert(data.msg);
                        }
                    }
                )
            },
            submitForm() {
                this.orderParam.customerName = this.ruleForm2.customerName;
                this.orderParam.customerPhone = this.ruleForm2.customerPhone;
                this.orderParam.items = this.tableData;
                for (var i = 0; i < this.tableData.length; i++) {
                    this.orderParam.goodsTotal += this.tableData[i].price * this.tableData[i].num
                }
                if (this.orderParam.items == null || this.orderParam.items.length < 1) {
                    alert("请先添加商品")
                } else {
                    $.ajax({
                            type: "post",
                            dataType: 'json',
                            contentType: 'application/json',
                            url: '/order/add',
                            data: JSON.stringify(this.orderParam),
                            success: (data) => {
                                if (data.code === 0) {
                                    // location.href = 'product_list.html';
                                } else {
                                    alert(data.msg);
                                }
                            }

                        }
                    );
               /*     $.post('/order/add', JSON.stringify(this.orderParam), (data) => {
                        if (data.code === 0) {
                            // location.href = 'product_list.html';
                        } else {
                            alert(data.msg);
                        }
                    })*/
                }

            },
        }

    })
</script>

</html>