<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>进销存管理系统——商品入库</title>
    <!-- 引入reset样式 -->
    <link rel="stylesheet" href="./styles/reset.css">
    <!-- 引入elementUi样式 -->
    <link rel="stylesheet" href="./styles/elementUI.css">
    <!-- 引入index.css -->
    <link rel="stylesheet" href="./styles/index.css">
</head>

<body>
<div id="app">
    <!-- 详细内容 -->
    <el-main>
        <!-- 大卡片 -->
        <el-card class="box-card">
            <!-- 大卡片标题 -->
            <div slot="header" class="clearfix">
                <span>商品入库</span>
            </div>
            <!-- 大卡片内容 -->
            <div class="text item">
                <el-form label-position="top" :model="ruleForm2" status-icon :rules="rules2" ref="ruleForm2"
                         label-width="100px" class="demo-ruleForm">
                    <el-form-item label="商品条形码：" prop="barCode">
                        <el-input v-model="ruleForm2.barCode"></el-input>
                    </el-form-item>
                    <el-form-item label="数量：" prop="productNum">
                        <el-input v-model.number="ruleForm2.productNum"></el-input>
                        <p>计重商品单位为</p>
                    </el-form-item>
                    <el-form-item label="进价：" prop="purchasePrice">
                        <el-input v-model="ruleForm2.purchasePrice"></el-input>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click="submitForm('ruleForm2')">入库</el-button>
                        <el-button @click="resetForm('ruleForm2')">重置</el-button>
                    </el-form-item>
                </el-form>
            </div>
        </el-card>
    </el-main>
</div>
</body>
<!-- 引入jQuery.js -->
<script src="./javascripts/jquery.min.js"></script>
<!-- 引入Vue.js -->
<script src="./javascripts/vue.min.js"></script>
<!-- 引入elementUI.js -->
<script src="./javascripts/elementUI.js"></script>
<script>
    //实例化Vue对象
    new Vue({
        el: '#app',
        data() {
            return {
                ruleForm2: {
                    barCode: '',
                    productNum: '',
                    purchasePrice: ''
                },
                rules2: {
                    barCode: [
                        {required: true, message: "请输入商品条形码", trigger: 'blur'}
                    ],
                    productNum: [
                        {required: true, message: "请输入商品数量", trigger: 'blur'}
                    ],
                    purchasePrice: [
                        {required: true, message: "请输入商品进价", trigger: 'blur'}
                    ]
                },
            };
        },
        methods: {
            submitForm(formName) {
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        $.post('/stock/add', this.ruleForm2, (data) => {
                            //处理数据
                            if (data.code === 0) {
                                alert(data.msg);
                                location.href = 'sort_list.html';
                            } else {
                                alert(data.msg);
                            }
                        })
                    } else {
                        console.log('error submit!!');
                        return false;
                    }
                });
            },
            resetForm(formName) {
                this.$refs[formName].resetFields();
            }
        }
    })
</script>

</html>