<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lpy.scm.dao.ProductMapper">


    <select id="queryProduct" parameterType="com.lpy.scm.param.ProductQueryParam"
            resultType="com.lpy.scm.dataobject.ProductDO">

    </select>
</mapper>