<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lpy.scm.dao.UserMapper">

    <!--auto generated Code-->
    <sql id="Base_Column_List">
        id,
        user_name,
        phone,
    </sql>


    <select id="queryUserByid" resultType="com.lpy.scm.DO.UserDO">
        SELECT
        <include refid="Base_Column_List"/>
        FROM `user`

    </select>
</mapper>

